<!DOCTYPE html>
<html lang="en">
<head>

	<title>ng2-admin - Angular 2 Admin Template</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Free Angular 2 and Bootstrap 4 Admin Template">

	<link rel="apple-touch-icon" sizes="57x57" href="assets/icon/apple-icon-57x57.png?v=2">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/icon/apple-icon-60x60.png?v=2">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/icon/apple-icon-72x72.png?v=2">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/icon/apple-icon-76x76.png?v=2">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/icon/apple-icon-114x114.png?v=2">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/icon/apple-icon-120x120.png?v=2">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/icon/apple-icon-144x144.png?v=2">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/icon/apple-icon-152x152.png?v=2">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-icon-180x180.png?v=2">
	<link rel="icon" type="image/png" sizes="192x192" href="assets/icon/android-icon-192x192.png?v=2">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/icon/favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/icon/favicon-96x96.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/icon/favicon-16x16.png?v=2">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/icon/ms-icon-144x144.png?v=2">
	<meta name="theme-color" content="#4691d1">

	<!-- base url -->
	<base href="/">

	<link href="initial.css" rel="stylesheet">
</head>
<body>
	@RenderBody()
	@RenderSection("scripts", required: false)
</body>
</html>
