@{
    ViewData["Title"] = "Home Page";
}

<app>
</app>

<div id="preloader">
	<div></div>
</div>

<script src="~/polyfills.bundle.js"></script>
<script src="~/vendor.bundle.js"></script>
<script src="~/main.bundle.js"></script>

